@import 'styles/mixins.scss';

.logoImage {
  max-width: 200px;
  @include respond-below(xs) {
    margin-top: 0;
    max-width: 140px;
  }
}
.modal-open {
  .header {
    padding-right: 15px;
    @include respond-below(sm) {
      padding-right: unset;
    }
  }
}

.header {
    position: absolute;
    min-height: 70px;
    z-index: 100;
    width: 100%;
    display: flex;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    @include respond-below(sm) {
      flex-direction: column;
      margin: 1em auto; 
    }
  }

  a {
    @include link()
  }

  .logo {
    font-weight: bold;
    @include respond-below(sm) {
      margin: 0em;
      margin-bottom: 1em;
      a {
        font-size: 20px;
      }
    }
    a {
      color: white;
      &:hover{
        background-color: unset;
      }
    }
  }

  .navbar-menu {
    flex-grow: 1;
    @include respond-below(sm) {
      flex: 1;
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      @include respond-below(sm) {
        flex-direction: row;
        flex: 1;
      }
      li {
        padding: 0 10px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        font-weight: bold;
        color: white;
        a {
          @include respond-below(xs) {
            padding: 5px;
          }
          @include respond-below(sm) {
            a {
              font-size: 12px;
            }
          }
          &:hover {
              color: black;
            }
        }
      }
    }
  }
}