@import 'styles/mixins.scss';

.waitingList{
  .modal-dialog {
    padding: 20px;
    width: 400px;
    @include respond-below(xs) {
      width: 250px;
      margin: 0 auto;
      padding: 0;
    }
  }

  .title {
    color: black;
    text-align: center;
    @include respond-below(xs) {
      font-size: 16px;
    }
  }

  input {
    height: unset;
    background-color: #f5f5f5;
    border: 1px solid lightgrey;
    transition: all 0.2s ease-in;
    &:focus {
      background-color: white;
    }
  }

  input, button {
    padding: 0.5rem 1rem;
    border-radius: 500px;
    font-family: 'Montserrat', sans-serif;
    @include respond-below(xs) {
      padding: 0.25rem 0.5rem;
    }
  }

  button{
    background-color: $bg-banner;
    color: white;
    font-weight: 600;
  }
}